@tailwind base;
@tailwind components;
@tailwind utilities;

.htmx-indicator {
  opacity: 0;
}

.htmx-request .htmx-indicator {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.htmx-request.htmx-indicator {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.button-13 {
  background-color: hsl(120, 100%, 25%);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: fit-content;
}

.button-13:hover {
  background-color: hsl(120, 100%, 20%);
}

.button-13:focus {
  border-color: #008296;
  outline: 0;
}

.form-error {
  @apply bg-red-600 w-[256px] min-w-[256px] max-w-[256px] text-xs text-white text-center p-2 rounded-sm shadow-md;
}

.form-success {
  @apply bg-green-600 w-[256px] min-w-[256px] max-w-[256px] text-xs text-white text-center p-2 rounded-sm shadow-md;
}
