package templates

import "zion/internal/storage/schema"

templ Index(user *schema.User) {
	@Base("Home") {
		@Nav(user)
		if user != nil {
			<section class="p-2">
				@TodoPage()
			</section>
		}
	}
}
