package templates

import "zion/internal/storage/db"

templ Index(user *db.User) {
	@Base("Home") {
		@Nav(user)
		<section class="p-2 font-mono">
			if user != nil {
				<div class="grid-cols-[minmax(192px,_192px)_1fr] grid gap-4">
					@CreateTodo()
					@TodoDashboard(user)
				</div>
			} else {
				<div class="flex justify-center items-center">
					<h1 class="text-sm text-neutral-800">Please register an account and login to access our services!</h1>
				</div>
			}
		</section>
	}
}
