package templates

templ NotFound() {
	@Base("404") {
		<div class="flex flex-col items-center justify-center h-screen w-screen bg-neutral-800">
			<h1 class="font-mono text-5xl text-white">404</h1>
		</div>
	}
}
